.dart_tool/
.packages
build/
.flutter-plugins*
.idea/
*.iml
.DS_Store
models/
*.onnx
*.onnx.data
*.part
*.wav
.venv/
__pycache__/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.mobileprovision
